/* Body */
body {
    font-family: Comic Sans MS, serif;
}

h1, h2, h3 {
    font-weight: bold;
    color: #3FC35F;
}

h1 {
    font-size: 45px;
    position: relative;
    text-align: center;
    top: 49%;
    color: #EEE;
}

h2 {
    font-size: 30px;
    margin-bottom: 5px;
    padding: 30px 25px 15px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 25px 0 5px;
}

h4 {
    font-size: 30px;
    position: relative;
    left: 26%;
}

p {
    font-size: 15px;
    color: #727272;
    line-height: 190%;
    text-align: justify;
}

.button {
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 12px 26px;
    background-color: #3fc35f;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.button:hover {
    background-color: #29a129;
    transition: 0.5s;
}


/* Navigation Bar */
.navbar-brand {
    margin-left: 10px;
}

.nav-item {
    margin: 0 15px;
}

.nav-item span {
    color: #212529;;
}

.nav-item span:hover {
    color: gray;
}

/* Login Modal */
.imgcontainer {
    text-align: center;
    margin-top: 10px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.login label {
    font-weight: lighter;
    padding-bottom: 20px;
}

.login label span {
    color: red;
}

.login input[type=text], .login input[type=email], .login input[type=password] {
    padding: 10px 16px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitBtn {
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 8px 0;
    padding: 14px 20px;
    background-color: #4CAF50;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.submitBtn:hover {
    background-color: #469e49;
    transition: 0.5s;
}

.cancelBtn {
    color: white;
    width: 20%;
    border: none;
    border-radius: 5px;
    padding: 6px 18px 6px 18px;
    background-color: #f44336;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.cancelBtn:hover {
    background-color: #db3c30;
    transition: 0.5s;
}

span.psw {
    float: right;
    padding-top: 10px;
}


/* Name Banner */
.banner span {
    color: #3FC35F;
}

#particles-js {
    width: 100%;
    height: 540px;
    background-color: #212121;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* About Me Section */
.about {
    background-color: #FAFAFA;
    padding: 80px 15%;
}

.about h2 {
    padding: 10px 25px;
}

.about img {
    border: 5px solid white;
    max-height: 150px;
    max-width: 150px;
    float: left;
    margin: 0 35px 25px 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.personal-information {
    margin-top: 25px;
}

.personal-information li {
    font-size: 14px;
    color: #727272;
    max-width: 300px;
    line-height: 1.5;
    list-style-type: none;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
}


/* Experience Section */
.experience {
    background-color: #FFF;
    padding: 50px 14%;
}

.experience p {
    text-indent: 50px;
    margin-left: 25px;
}


/* Contact Section */
.contact {
    background-color: #FAFAFA;
}

.contact-text {
    padding: 0 14%;
}

.contact p {
    margin-left: 25px;
}

/* Contact Form */
.contact-form {
    padding: 0 15%;
}

.form-label {
    color: #5e5e5e;
}

.form-label span {
    color: red;
}


/* Footer */
footer {
    color: #FDFDFD;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    background-color: #008A3C;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* © Copyright 2022 – Tyler J. Mueller */